@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.headerAirbase {
  background-color: #152c41;
}

.bodyAirbase {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #152c41;
  max-width: 500px;
}

.d1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;

  &-values td {
    background-color: white;
    color: black;
    border: 1px solid black;
    text-align: center;
    width: 50px;
  }

  table {
    border-collapse: collapse;

    td {
      padding: 2px 0;
      font-size: 0.8rem;
    }
  }
}
