@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container-tab {
  display: flex;
  flex-direction: column;
  padding: 12px 0;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 230px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.75rem 1rem 0 1rem;
    border-left: 1px solid #333333;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-radius: 0.5rem 0.5rem 0 0;

    .header-icon {
      height: 30px;
      width: auto;
      margin-right: 1rem;
      color: $text-color-2;
    }
  }

  &__body {
    padding: 1rem;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    background-color: #222222;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    &-weatherData {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      .weatherElement {
        font-size: 0.7rem;
        font-style: italic;
      }
    }

    &-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #152c41;
      max-width: 500px;
    }
  }
}

.tabBodyWithShortCuts {
  display: flex;
  flex-direction: row;

  .bodyShortCuts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-right: 1rem;
  }
}

.performanceCell_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.performanceCell_value {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  background-color: var(--mui-palette-text-primary);
  color: var(--mui-palette-background-default);

  border: 1px solid var(--mui-palette-primary-main);
}
