@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container-tab {
  display: flex;
  flex-direction: column;
  padding: 12px 0;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 230px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.75rem 1rem 0 1rem;
    border-left: 1px solid #333333;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-radius: 0.5rem 0.5rem 0 0;

    .header-icon {
      height: 36px;
      width: auto;
      margin-right: 1rem;
      color: $text-color-2;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    background-color: #222222;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    &-weatherData {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 1rem;

      .weatherBody {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap:0.25rem;
      }

      .weatherElement {
        font-size: 0.7rem;
        font-style: italic;
      }
    }

    &-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }

    &-category {
      display: flex;
      justify-content: center;
      align-items: center;
      writing-mode: vertical-lr;
      text-orientation: upright;
      width: 20px;

      color: $text-color-1;
      font-size: 0.8rem;
      font-weight: 700;
      padding: 0.6rem 0;
      border-radius: 5px;
    }

    &-separator {
      width: 100%;
      height: 2px;
      background-color: $secondary-color-3;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      border: none;
    }

    .pc1 {
      background-color: $primary-color-3;
    }

    .pc2 {
      background-color: $secondary-color-1;
    }

    &-allItems {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
    }

    .allItems-phase {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 0.25rem 0;

      &__performances {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    &-item {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: space-between;
      background-color: #152c41;
    }
  }
}

.performances {
  width: 430px;
}

.tabBodyWithShortCuts {
  display: flex;
  flex-direction: row;

  .bodyShortCuts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-right: 1rem;
  }
}

.performanceCell_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.performanceCell_value {
  width: 45px;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--mui-palette-text-primary);
  color: var(--mui-palette-background-default);
  border: 1px solid var(--mui-palette-primary-main);
}

.nonApplicable {
  background-color: $non-applicable-color;
}
