@use "../../../styles/utils/variables" as *;
@use "../../../styles/utils/mixins" as *;

.performanceToolTip {
  margin-left: 0.5rem;
  font-size: 0.7rem;
  color: $text-color-2;
  cursor: help;
}

.infoIcon {
  font-size: 0.9rem;
  color: orange;
}
