@use "../../styles/utils/variables" as *;

.headerTakeoffParameters {
  background-color: #222222;
}

.bodyTakeoffParameters {
  width:100%;
  padding:0 0.5rem;
  display:flex;
  flex-direction: column;
  gap:1rem;

 

  &-inputBoxes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
  }
}
