.container-inputNumber{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:0.25rem;
    

    &__label{
        font-size:0.8rem;
        text-align: right;
        white-space: nowrap;
        margin-right:0.75rem;
    }

    .display-value{
        color:grey;
    }

    

}