@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.home-page {
  &__content {
    display: flex;
    flex-direction: column;

    &-parameters {
      display: flex;
      flex-direction: column;
    }

    &-performances {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include responsive-desktop {
        flex-direction: row;
      }
    }

    canvas {
      border: 1px solid black;
    }

    &-curves {
      display: flex;
      flex-direction: row;
      gap: 16px;
      flex-wrap: wrap;
    }
  }
}
