@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.headerPlatform {
  background-color: #152c41;
}

.bodyPlatform {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #152c41;
  max-width: 500px;
}
